body {
    background: white;
    margin: 0;
}
a {
    text-decoration: none;
}
h1 {
    text-align: center;
    margin: 40px 0;
    text-shadow: 0 3px 1px hsl(0,0%,100%);
}
.Header 
{
    background: #004dff;
    margin: 0em;
    color: white;
}
.Header-logo
{
    margin: 0em;
    padding: 0.2em 0em 0em 1.5em;
}
.Header-tutorial, .Header-contacto
{
    background: white;
    min-width: 6em;
    max-width: 6em;
    padding: 10px 0;
    margin: 2px;
    box-shadow: 0 1px 3px hsla(0,0%,0%,0.5);
    display: block;
    box-shadow: rgba(0,0,0,0.9) 5px 5px 20px;
    text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
    text-align: center;
}
.Header a
{
    color: #004dff;
}
.Header-logoSgs
{
    border-radius: 0.3em;
    width: 8em;
}
nav 
{
    width: 600px;
    margin: 0 auto;
}
nav ul 
{
    list-style: none;
    text-align: center;
}
nav > ul > li {
    float: left;
}
nav ul li a {
    background: #004dff;
    min-width: 8em;
    padding: 10px 0;
    margin: 2px;
    color: hsl(0,0%,100%);
    box-shadow: 0 1px 3px hsla(0,0%,0%,0.5);
    display: block;
}
nav ul li a:hover, a.flecha-abajo:hover, a.flecha-derecha:hover {
    background-color: #004dff;
}
nav ul li a.flecha-abajo {
    background: #004dff;
    background-position: 125px 50%;
}
nav ul li a.flecha-derecha {
    background: #004dff;
    background-position: 125px 50%;
}
nav ul li ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    min-width: 160px;
    z-index: -1;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transition: all 0.3s ease-out;   
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
nav ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 0.3s ease-out;   
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
nav ul li ul li {
    position: relative;
}
nav ul li ul li ul {
    right: -162px;
    top: 10px;
}