a 
{
	color: #fff;
}
body
{
	background: #008fd5;
	font-family: Arial;
	font-size: 16px;
}
header
{
	background: #0066cc; 
	color: white;
}
header figure
{
	float: left;
}
header #logo
{
	position: absolute;
	right: 10px;
	top: 0;
	border-radius: 25%;
	width: 146.5px;
}

/**.no-visible
{
	visibility: hidden;
}
.visible
{
	visibility: visible;
}**/
#edit-datos
{
	float: left;
	background: #dde3e6;
	color: #000;
}
