a 
{
	color: black;
	text-decoration: none;
}
body
{
	background: white;
	font-family: Arial;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
.Header
{
	background: white; 
	overflow: hidden;
}
.Header-logo
{
	float: left;
	margin: 0.2em 0 0.2em 1.6em;
}
.Header-tutorial, .Header-contacto
{
	float: right;
	background: #283c48;
	border-radius: 0.4em;
	box-shadow: rgba(0,0,0,0.9) 5px 5px 20px;
	padding: 0.6em 0.8em;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
	margin: 1em 2em 0 0;
}
.Header-logoSgs
{
	border-radius: 0.2em;
	width: 70%
}
.Navbar
{
	background: #004dff;
}
li
{
	display: inline-block
}
ul 
{ 
	list-style-type: none;
}
ul li .Menu-desplegable 
{ 
	float: left;
	width: 162px;
	margin-right: 2px;
}
ul li a 
{
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: #666;
	border: solid 1px #fff;
	padding: 8px;
	position: relative;
}
ul li:hover 
{
	position: relative;
}
ul li a:hover, #menu ul li:hover a.Menu-desplegable 
{
	background-color: #888;
	color: #000;
	position: relative;
}
ul li a.Menu-desplegable 
{
	display: block!important;
	display: none;
	position: relative;
}
ul li ul 
{
	display: none;
}
ul li a:hover ul, #menu ul li:hover ul 
{
	display: block;
	position: absolute;left: 0px;
}
ul li ul li a 
{
	width: 160px;
	padding: 6px 0px 8px 0px;
	border-top-color: #000;
}
ul li ul li a:hover 
{
	border-top-color: #000;
	position: relative;
}
